.navigator_contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigator_selectores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigator_buttonCreate{
    padding: 8px;

}
.navigator_link{
    list-style: none;
}